.form-wizard {
    ::selection{
        color: #fff;
        background: #d43f8d;
    }
    .container{
        //width: 330px;
        background: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 50px 35px 10px 35px;
    }
    .container header{
        font-size: 35px;
        font-weight: 600;
        margin: 0 0 30px 0;
    }
    .container .form-outer{
        width: 100%;
        overflow: hidden;
    }
    .container .form-outer form{
        display: flex;
        width: 400%;
    }
    .form-outer form .page{
        width: 25%;
        transition: margin-left 0.3s ease-in-out;
    }
    .form-outer form .page .title{
        text-align: left;
        font-size: 25px;
        font-weight: 500;
    }
    .form-outer form .page .field{
        width: 330px;
        height: 45px;
        margin: 45px 0;
        display: flex;
        position: relative;
    }
    form .page .field .label{
        position: absolute;
        top: -30px;
        font-weight: 500;
    }
    form .page .field input{
        height: 100%;
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding-left: 15px;
        font-size: 18px;
    }
    form .page .field select{
        width: 100%;
        padding-left: 10px;
        font-size: 17px;
        font-weight: 500;
    }
    form .page .field button{
        width: 100%;
        height: calc(100% + 5px);
        border: none;
        background: #d33f8d;
        margin-top: -20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: 0.5s ease;
    }
    form .page .field button:hover{
        background: #000;
    }
    form .page .btns button{
        margin-top: -20px!important;
    }
    form .page .btns button.prev{
        margin-right: 3px;
        font-size: 17px;
    }
    form .page .btns button.next{
        margin-left: 3px;
    }
    .container .form-progress-bar{
        display: flex;
        margin: 40px 0;
        user-select: none;
    }
    .container .form-progress-bar .step{
        text-align: center;
        width: 100%;
        position: relative;
    }
    .container .form-progress-bar .step p{
        font-weight: 500;
        font-size: 18px;
        color: #000;
        margin-bottom: 8px;
    }
    .form-progress-bar .step .bullet{
        height: 25px;
        width: 25px;
        border: 2px solid #000;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        transition: 0.2s;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
    }
    .form-progress-bar .step .bullet.active{
        border-color: #d43f8d;
        background: #d43f8d;
    }
    .form-progress-bar .step .bullet span{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .form-progress-bar .step .bullet.active span{
        display: none;
    }
    .form-progress-bar .step .bullet:before,
    .form-progress-bar .step .bullet:after{
        position: absolute;
        content: '';
        bottom: 11px;
        right: -51px;
        height: 3px;
        width: 44px;
        background: #262626;
    }
    .form-progress-bar .step .bullet.active:after{
        background: #d43f8d;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 0.3s linear forwards;
    }
    @keyframes animate {
        100%{
            transform: scaleX(1);
        }
    }
    .form-progress-bar .step:last-child .bullet:before,
    .form-progress-bar .step:last-child .bullet:after{
        display: none;
    }
    .form-progress-bar .step p.active{
        color: #d43f8d;
        transition: 0.2s linear;
    }
    .form-progress-bar .step .check{
        position: absolute;
        left: 50%;
        top: 70%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        display: none;
    }
    .form-progress-bar .step .check.active{
        display: block;
        color: #fff;
    }
}


.form-step {
    margin: 0 0 1rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    li {
        list-style: none;
        position: relative;
        text-align: center;
        flex: 1 1 auto;

        .circle {
            color: $neutral-100;
            border: 2px solid $neutral-400;
            background-color: $neutral-600;
            border-radius: 50%;
            height: 1.875rem;
            width: 1.875rem;
            line-height: 1.875rem;
            display: inline-flex;
            transform-origin: center;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms ease;
            span {color:$neutral-100;}
        }

        &.active {
            .circle {border-color: $success-200;}

            &:before {background: $success-200;}
        }
        &.complete {
            .circle {
                border: unset;
                background-color: $success-200;
                color: $white;
            }

            &:before {background: $success-200;}
        }

        .title-step {
            position: absolute;
            top: 120%;
            left: 50%;
            color: $neutral-100;
            font-size: 1rem;
            transform: translateX(-50%);
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            height: 3px;
            width: 90%;
            right: 55%;
            transform: translateY(-50%);
            z-index: -1;
            background: linear-gradient(to left, #e7eaf3 50%, #4db193 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: background-position 200ms ease-in-out;
        }

        &:first-child::before {content: none;}
    }
}

.form-use-step {
    fieldset:not(:first-of-type) {
        display: none;
    }
}
