
// Box Icon Description
.box-icon-description {
    list-style: none;
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;

    .box-icon {
        background-color: $blue-600;
        color: $primary-brand;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        padding: .5rem;
        border-radius: .5rem;
        text-align: center;
        justify-content: center;
        font-size: 1.5rem;

        svg {
            width: 28px;
            height: 28px;
            color: $primary-brand;
        }
    }

    .inline {
        margin-left: 1rem;
        width: 60%;
        h4 {
            margin: 0;
            padding: 0;
            color: $blue-100;
            font-size: 1.625rem;
            font-weight: 600;
            line-height: 28px;
        }

        .sub {
            font-size: 0.875rem;
            color: $neutral-400;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

// Avatar
@mixin config_text_dots() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.avatar-my-profile {
    .inline {
        h4, .h4 {
            font-size: 1.625rem;
            font-weight: 600;
            color: $blue-100;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .sub {
            font-weight: 400;
            color: $neutral-300;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.avatar-list-staff {
    .inline {
        width: calc(90% - 40px);
        h4, .h4, .sub {
            @include config_text_dots()
        }
    }
}

// Space Preview Data
.space-preview-data {
    padding-bottom: 1rem;
    label {
        font-size: .875rem;
        margin-bottom: .5rem;
        color: $neutral-300;
        font-weight: 400;
    }
    p {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1rem;
        color: $neutral-100;
    }
}

.space-small {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;

    label {
        font-size: 0.625rem;
        margin-bottom: 0;
        line-height: normal;
    }
    p {font-size: 0.75rem;}
}
.with-b-b {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $neutral-500;
}


// Alert
@mixin config-alert($bg, $colorText) {
    background-color: $bg;
    border-color: $bg;
    color: $colorText;
}

.alert {
    font-weight: 400;
    font-size: 0.875rem;
    padding: 0.625rem;
    border-radius: 8px;
    .icon {font-size: 1rem}
    .icon svg {height: 18px; width: 18px;}
    &.alert-info-300 {@include config-alert($info-300, $info-100);}
    &.alert-primary-brand {@include config-alert($tint-600, $tint-300);}
}
.alert-custom {
    display: flex;
    align-items: self-start;
    justify-content: center;
}

// Menu Drop Down
.dropdown-toggle {
    &.hide-arrow::after {border: none;}
}

.topbar-dropdown-menu {
    .profile-item {
        svg {
            width: 18px;
            height: 18px;
        }
        .icon {margin-right: .5rem;}
    }
}

.dropdown-item {padding: .5rem 1.2rem;}

.max-h-dropdown {
    max-height: 150px;
    overflow: auto;
}

// Custom Padding & Margin in Rem size
.m-b-default {margin-bottom: 1.25rem}
.m-t-default {margin-top: 1.25rem}

.mb-1-rem {margin-bottom: 1rem}

.mt-1-rem {margin-top: 1rem}

.pb-1-rem {padding-bottom: 1rem}
.pt-1-rem {padding-top: 1rem}
.pl-1-rem {padding-left: 1rem}
.pr-1-rem {padding-right: 1rem}


/* Modal Custom
------------------------------------
*/
.modal {

    .title {
        font-size: 1.125rem;
        color: $blue-100;
        font-weight: 500;
        margin-bottom: 0;
        line-height: normal;
    }

    .close {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .modal-content {
        border-width: 0;
    }

    .modal-body {
        padding-bottom: 1.75rem;
        padding-top: 0;
    }
}
.modal-backdrop {
    background-color: $neutral-200;
    opacity: 25%;
}
.modal-open {overflow: hidden!important;}


/* Tabs : Simple
------------------------------------
*/
@mixin config_tab_color($passColorTab) {
    &.nav-tabs-simple > li > a:after {background-color: $passColorTab;}
}

.nav-tabs {
    position: relative;

    .nav-link{
        font-size: 0.875rem;
        font-weight: 400;
        color: $neutral-200!important;
        border-color: transparent!important;
        border-width: 0;

        &:hover {
            color: unset;
            border-color: unset!important;

        }
    }

    > li > a {
        display: block;
        border-radius: 0;
        padding: 13px 20px;
        margin-right: 0;
        font-weight: 500;
        letter-spacing: 0.06em;
        color: rgba(122, 137, 148, 0.7);
        font-size: 10.5px;
        min-width: 70px;
        text-transform: uppercase;
        border-color: transparent;
        position: relative;
        line-height: 1.7em;
    }
}
.tab-content {
    > .tab-pane {display: none;}
    > .active {display: block;}
}
.tab-pane {
    padding: 1.5rem 1.25rem 1.25rem;
    .row>* {
        padding-left: calc(#{$bs-gutter-x-sm} * .5);
        padding-right: calc(#{$bs-gutter-x-sm} * .5);
    }

    .card {margin-bottom: 1.563rem;}
}

.nav-tabs-simple {border-bottom: 0;}
.nav-tabs-simple:after {
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
    bottom: -2px;
    z-index: 120;
    left: 0;
}
.nav-tabs-simple > li {margin-bottom: 0;}
.nav-tabs-simple > li > a:after {
    position: absolute;
    -webkit-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
    -webkit-backface-visibility: hidden;
    width: 100%;
    display: block;
    background-color: $danger-200;
    height: 0;
    content: '';
    left: 0;
    z-index: 125;
    top: 100%;
}
.nav-tabs-primary {@include config_tab_color($primary);}
.nav-tabs-success {@include config_tab_color($primary);}
.nav-tabs-primary-brand {@include config_tab_color($primary-brand);}
.nav-tabs-complete {@include config_tab_color($success-200);}
.nav-tabs-danger {@include config_tab_color($danger-200);}
.nav-tabs-warning {@include config_tab_color($warning-200);}
.nav-tabs-info {@include config_tab_color($neutral-300);}

.nav-tabs-simple > li > a.active:hover,
.nav-tabs-simple > li > a.active:focus {
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs-simple > li > a.active:after,
.nav-tabs-simple > li > a:hover:after {
    height: 3px;
}
.nav-tabs-simple.nav-tabs-left:after,
.nav-tabs-simple.nav-tabs-right:after {
    border-bottom: 0px;
}
.nav-tabs-simple.nav-tabs-left > li > a:after,
.nav-tabs-simple.nav-tabs-right > li > a:after {
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
}
.nav-tabs-simple.nav-tabs-left > li > a.active:after,
.nav-tabs-simple.nav-tabs-right > li > a.active:after,
.nav-tabs-simple.nav-tabs-left > li > a:hover:after,
.nav-tabs-simple.nav-tabs-right > li > a:hover:after {
    width: 3px;
}
.nav-tabs-simple.nav-tabs-left > li > a:after {
    right: 0;
    left: auto;
}
.nav-tabs-simple.nav-tabs-right > li > a:after {
    left: 0;
}

.dropdown-item:focus {
    background-color: $primary-brand;

}


.nav-item {
    .dropdown-item {
        &.active, &:active {
            background-color: transparent;
            color: #212529;
        }
    }
}


/* Table Custom
------------------------------------
*/
@mixin config_size_in_tbl ($fw, $passColor, $fs) {
    font-weight: $fw;
    color: $passColor;
    font-size: $fs;
    border-color: #F0F0F5!important;
}

.table-custom {
    th {
        @include config_size_in_tbl(600, $neutral-100, .875rem);
        border-top: 0;
        border-bottom-width: 1px!important;
    }
    td {
        color: $neutral-200;
        font-weight: 400;
        font-size: .875rem;
        border-top: 0;
        border-bottom: 1px solid #F0F0F5!important;
    }
}

.table-custom-2 {
    th {
        @include config_size_in_tbl(500, $neutral-200, .875rem);
        border-top: 0;
        border-bottom-width: 1px!important;
    }
    td {
        color: $neutral-200;
        font-weight: 400;
        font-size: .875rem;
        border-top: 0;
        border-bottom: 1px solid #F0F0F5!important;
    }
}

.table-box {
    border: 1px solid #dee2e6;
    thead th {
        border-top: unset;
        border-bottom-width: 1px;
    }
}



/* Custom Button
------------------------------------
*/
.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem!important;
    line-height: 1.5;
    border-radius: 0.5rem;
}


/* Badge
------------------------------------
*/
.badge {
    font-size: .75rem;
    font-weight: 400;
    padding: 0.375rem .5rem;
    border-right: .5rem;
}


/* Text Transform
------------------------------------
*/
.text-capitalize {text-transform: capitalize;}
.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}


/* Custom Card
------------------------------------
*/
.card-currency {
    border-color: $neutral-400;
    padding-top: .8rem;
    &:hover {
        //box-shadow: 0px 7px 11px 2px #a9a9a938;
        border-color: $primary-brand;
    }
}

.card-staff {
    border-color: $neutral-400;
    &:hover {
        border-color: $primary-brand;
    }
}

.card-choose-property-type {
    text-align: center;
    h5 {
        font-size: 1.125rem;
        color: $neutral-100;
        font-weight: 500;
    }

    p {
        font-weight: 400;
        font-size: 0.875rem;
        color: $neutral-400;
    }
}




/* Hover Border
------------------------------------
*/
@mixin config_hover_border($passColor) {
    &:hover {border-color: $passColor !important;}
}

.hover-border-primary-brand {@include config_hover_border($primary-brand)}
.hover-border-secondary-brand {@include config_hover_border($secondary-brand)}
.hover-border-primary {@include config_hover_border($primary)}
.hover-border-neutral-200 {@include config_hover_border($neutral-200)}

@mixin config_action_hover_border($passColor) {
    &:hover {
        border: 1px solid $passColor !important;
        cursor: pointer;
    }
}

.hover-action-border-primary-brand {@include config_action_hover_border($primary-brand);}
.hover-action-border-secondary-brand {@include config_action_hover_border($secondary-brand);}
.hover-action-border-primary {@include config_action_hover_border($primary);}
.hover-action-border-neutral-200 {@include config_action_hover_border($neutral-200);}


/* Nav Breadcrumb
------------------------------------
*/
.breadcrumb {
    background-color: unset;
    padding: 0 0.75rem 0.75rem 0;
    color: $neutral-400;

    a {color: $blue-400}

}

.breadcrumb-item + .breadcrumb-item::before {
    color: #454560;
    font-family: 'FontAwesome';
    content: "\f105";
    font-weight: bold;
}


/* Text Title
------------------------------------
*/
.page-title-head-big {
    font-size: 2.125rem;
    margin-bottom: 1.875rem;
    color: $neutral-100;
}


/* Box Image 2
------------------------------------
*/


.dropdown-action {
    a {color: $neutral-100}
    .dropdown-toggle {
        &::after{content: unset;}
    }
}

/* radius
------------------------------------
*/
.b-rad-5 {border-radius: 5px;}
.b-rad-10 {border-radius: 10px;}
.b-rad-15 {border-radius: 15px;}


/* Dots
------------------------------------
*/
@mixin dots-element($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
    display: inline-block;
}

.circle-9 {@include dots-element(9px)}
.circle-24 {@include dots-element(24px)}
.circle-32 {@include dots-element(32px)}
.circle-40 {@include dots-element(40px)}
.circle-48 {@include dots-element(48px)}


/* Badge
------------------------------------
*/
.badge-required {
    font-size: 0.75rem;
    font-weight: 300;
    color: $neutral-100;
    background-color: $neutral-500;
    border-radius: 8px;
}


/* Row Form Horizontal Attribute
------------------------------------
*/

.rfh-label {
    font-size: 1rem;
    font-weight: 500;
}


/* Dropdown show menu action
------------------------------------
*/
.dropdown-property {
    .dropdown-menu {
        padding: 0.5rem 1rem !important;
        box-shadow: 2px 4px 9px 0px #18255c26;
        border: 0;
        border-radius: 8px;
    }

    .dropdown-item {
        padding: 0.5rem !important;
        border-radius: 8px;
        cursor: pointer;
    }

    hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

.dropdown-menus {
    .dropdown-menu {
        padding: 0.5rem 1rem !important;
        box-shadow: 2px 4px 9px 0px #18255c26;
        border: 0;
        border-radius: 8px;
    }

    .dropdown-item {
        padding: 0.5rem !important;
        border-radius: 8px;
        cursor: pointer;
    }

    hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

.li-no-border{
    li {border: 0!important;}
}


/* Action Hover
------------------------------------
*/

.btn-hover-bg-transparent {
    &:hover, &:focus {
        background-color: transparent;
    }
}

.toggle-is-btn {
    background-color: transparent;
    color: unset;
}

.text-hover-white:hover {
    color: $white!important;
}


/* MAX HEIGHT FOR SCROLL
------------------------------------
*/

.scroll-h-350 {
    max-height: 350px;
    overflow-y: auto;
}

/* BOX IMAGE GALLERY
------------------------------------
*/

.box-form-gallery {
    width: 100%;
    padding-bottom: .8rem;
    border: 1px solid $neutral-400;
    .place-gallery {
        //max-height: 300px;
        max-height: 250px;
        overflow: hidden;
        //margin-bottom: .8rem;
        img {object-fit: cover;}
    }
}


.z-index-unset {z-index: unset;}
.z-index-9999 {z-index: 9999;}
.ant-select-dropdown, .ant-tree-select-dropdown {z-index: 99990000!important;}





/* Checkbox Tree, example Area Select Tree
------------------------------------
*/
.ant-select-selector {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #C9C9D8!important;
    border-radius: 0.5rem!important;
}
.p-treeselect-panel {
    z-index: 49999!important;
}
.p-treeselect {width: 100%;}
.p-treeselect.p-treeselect-chip .p-treeselect-token {
    font-size: 0.75rem;
    padding: 0.2rem;
}
.p-inputwrapper-filled.p-treeselect.p-treeselect-chip .p-treeselect-label {
    padding: 0.4rem 0.75rem;
}
.ant-select-selection-overflow {
    flex-wrap: unset!important;
    overflow: hidden!important;
}

//.treeselect-demo .p-treeselect {
//    width: 20rem;
//}
//@media screen and (max-width: 640px) {
//    .treeselect-demo .p-treeselect {
//        width: 100%;
//    }
//}
